[user]
	email = robin@hallabro-kokko.se
	name = Robin Hallabro-Kokko
	signingkey = 8D3565510C9F37D434ED7613E930260B49F03C71
[core]
	excludesfile = /Users/robinhallabro-kokko/.gitignore
[commit]
	gpgsign = yes
[pull]
	rebase = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
