alias emacs='emacsclient --tty'
alias g=git
alias gst='git status --short'
alias ls=̈́'ls --color=tty'
alias s=sudo

function mkcd() {
	mkdir -p "$@" && cd "$@"
}

function dx() {
    docker exec $@
}
compdef _docker dx="_docker_complete_running_containers"
