alias e=emacs
alias emacs='emacsclient -c'
alias g=git
alias gch='git checkout'
alias gd='git diff'
alias gdc='git diff --cached'
alias gst='git status --short'
alias halt='openrc-shutdown -H now'
alias l='ls -al'
alias ls='ls --color=tty'
alias reboot='openrc-shutdown -r now'
alias s='sudo'
alias sudo='sudo '
alias shutdown='openrc-shutdown'

function esudo() {
    e /sudo::"$1"
}

function mkcd() {
    mkdir -p "$@" && cd "$@"
}

function _source_if_exists() {
    [ -r "$1" ] && source $1
}

function dx() {
    docker exec $@
}
compdef _docker dx="_docker_complete_running_containers"
