alias ..='cd ..'
alias dx='docker-compose exec'
alias et='emacs -t'
alias ls='ls --color=yes'
alias g=git
alias gch='git checkout'
alias gd='git diff'
alias gdc='git diff --cached'
alias gst='git status --short'
alias grt='cd $(git rev-parse --show-toplevel)'
alias s='sudo'
alias sudo='sudo '

compdef _docker-compose dx='docker-compose exec'

function mkcd() {
    mkdir -p "$@" && cd "$@"
}

function mkmv() {
    mkdir -p "${@: -1:1}" && mv "$@"
}

function _source_if_exists() {
    [ -r "$1" ] && source $1
}
