st.font: xos4 Terminus:size=9:antialias=false:autohint=false
st.termname: xterm-256color
st.borderpx: 8

Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

#define base00 #151515
#define base01 #202020
#define base02 #303030
#define base03 #505050
#define base04 #b0b0b0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #f5f5f5
#define base08 #fb9fb1
#define base09 #eda987
#define base0A #ddb26f
#define base0B #acc267
#define base0C #12cfc0
#define base0D #6fc2ef
#define base0E #e1a3ee
#define base0F #deaf8f

st.foreground:   base05
st.background:   base00
st.cursorColor:  base05

st.color0:       base00
st.color1:       base08
st.color2:       base0B
st.color3:       base0A
st.color4:       base0D
st.color5:       base0E
st.color6:       base0C
st.color7:       base05
st.color8:       base03
st.color9:       base08
st.color10:      base0B
st.color11:      base0A
st.color12:      base0D
st.color13:      base0E
st.color14:      base0C
st.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
st.color16:      base09
st.color17:      base0F
st.color18:      base01
st.color19:      base02
st.color20:      base04
st.color21:      base06
